---
import Arrow from "../icons/arrow.astro";
import Project from "./Project.astro"

const projects =[
    {id: 1,
     name: "Food-App",
     title: "Comida Rapida",
     description: "Un sitio tipo Food App que permite pedir comida de forma rápida y sencilla, con acceso a login, promociones destacadas como NO ESPERES… A COMERTE RICO!!, y un botón para Comprar ahora desde S/20",
     link: "https://food-app.sunetya.site/",
     image: "https://food-app.sunetya.site/offer.png"
    },
    {id: 2,
     name: "X-Clone",
     title: "Clone de X",
     description: "El sitio web x-phi-blond.vercel.app es una réplica de la plataforma X (anteriormente conocida como Twitter), diseñada para emular su interfaz y funcionalidades principales. Permite a los usuarios experimentar con una versión clonada de la red social, posiblemente con fines educativos o de desarrollo.Actualmente, el sitio se encuentra fuera de servicio debido a la falta de pago del servidor VPS",
     link: "https://x-phi-blond.vercel.app/",
     image: "x.png"
    },
    {id: 3,
     name: "Authenticate",
     title: "Autenticación usando Jwt's", 
     description: "El repositorio JW0FSSS/Authenticate ofrece una API de autenticación de usuarios basada en JSON Web Tokens (JWT), desarrollada en JavaScript. Incluye rutas para registro, inicio de sesión y gestión de perfil, todas protegidas mediante tokens JWT en el encabezado Bearer. Es una solución sencilla y funcional para implementar autenticación segura en aplicaciones web.",
     link: "https://github.com/JW0FSSS/Authenticate",
     image: "https://cdn.prod.website-files.com/65c0f620358c5fe6bbcbf231/66d6a202d800e5113a1330a4_JWTheaderimage.png"
    },
    {id: 4,
     name: "Good Games",
     title: "Good Games",
     description: "El sitio goodgamesv1.vercel.app es una plataforma web dedicada a ofrecer una colección de juegos en línea accesibles desde el navegador. Actualmente, el sitio se encuentra fuera de servicio debido a la falta de pago del servidor VPS.",
     link: "https://goodgamesv1.vercel.app/",
     image: "https://res.cloudinary.com/djkmyxefd/image/upload/v1708529031/e-commerce_udgs4j.png"
    },
]
---

<main class="">
    <header class="border-b-2 border-white text-5xl text-center lg:text-start lg:text-6xl pb-10 px-12">
        <h1>Mi Portafolio</h1>
    </header>

       {projects.map((project) => {
            return (
                <Project 
                    id={project.id}
                    name={project.name}
                    title={project.title}
                    image={project.image}
                    description={project.description}
                    link={project.link}
                />
            );
        })}
    
    <h1 class="text-6xl flex items-center gap-x-4 px-12 justify-end" id="technologies"><a href="https://github.com/JW0FSSS" target="_blank" class="hover:text-secondary duration-500 ease-in-out">Projects</a><Arrow/> </h1>
</main>